
		html {
			height: 100%;
		}

		body {
			margin: 0;
			padding: 0;
			background: url(file:///C:/Users/HP%20user/Downloads/erik-mclean-Wlfo8S_gkT0-unsplash.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			font-family: 'Nunito', sans-serif;
		}

		.content h2 {
			color: #FFFFFF;

		}


		.content {
			background: #184453;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 350px;
			padding: 40px;
			border-radius: 20px;
			cursor: pointer;
		}

		.content input[type="text"] , .content [type="password"] {
			border: 0;
			background: none;
			display: block;
			text-align: center;
			margin: 20px auto;
			background: #FFFFFF;
			border-radius: 20px;
			padding: 14px 10px;
			width: 260px;
			outline: none;
			color: #205c70;
			cursor: pointer;
		}

		.content input[type="text"]:hover, .content input[type="password"]:hover {
			width: 300px;
			border-color: 
		}


		.content input[type="text"]:focus, .content input[type="password"]:focus {
			border: 2px solid #092933;
			color: #205c70;
		}


		.content input[type="submit"] {
			border: 0 !important;
			width: 280px !important;
			padding: 14px 10px !important;
			border-radius: 20px !important;
			background: #205c70 !important;
			color: white !important;
		}

		.content input[type="submit"]:hover {
			background: #092933 !important;
			color: #205c70 !important;
			font-weight: 500 !important;
		}

		.loginbutton{
			 
		}